/* App.css */

body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000; /* Black */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #ffcc00; /* Yellow */
}

.app-logo {
  height: 120px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  margin: 0;
}

nav ul li a, nav ul li button {
  text-decoration: none;
  color: #ff0000; /* Red */
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

nav ul li button:hover, nav ul li a:hover {
  background-color: #ddd;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* Add this CSS rule to your relevant CSS file */
.exercise-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.exercise-content {
  flex: 1;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
}

.exercise-buttons {
  padding: 1em;
  box-sizing: border-box;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

